/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	right: 0;

	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/
.sf-menu {
	float: left;
	margin-bottom: 1em;
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #13a;
}
.sf-menu li {
	background: #BDD2FF;
	white-space: nowrap; /* no need for Supersubs plugin */
	*white-space: normal; /* ...unless you support IE7 (let it wrap) */
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #AABDE6;
}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #CFDEFF;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	/*margin-right: -3px;*/
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}

@font-face {
  font-family: 'themify';
  src: url("../fonts/themify/themify.eot?-fvbane");
  src: url("../fonts/themify/themify.eot?#iefix-fvbane") format("embedded-opentype"), url("../fonts/themify/themify.woff?-fvbane") format("woff"), url("../fonts/themify/themify.ttf?-fvbane") format("truetype"), url("../fonts/themify/themify.svg?-fvbane#themify") format("svg");
  font-weight: normal;
  font-style: normal;
}
html.overflow, body.overflow {
  overflow-x: auto;
}
html.overflow #header-section, html.overflow #main, html.overflow #hero, html.overflow #mobile-menu, html.overflow #footer, body.overflow #header-section, body.overflow #main, body.overflow #hero, body.overflow #mobile-menu, body.overflow #footer {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

body {
  font-family: 'Lato', Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #2e2e2e;
}
@media screen and (max-width: 768px) {
  body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
}

::-webkit-selection {
  color: #ffffff;
  background: #5F021F;
}

::-moz-selection {
  color: #ffffff;
  background: #5F021F;
}

::selection {
  color: #ffffff;
  background: #5F021F;
}

a {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #5F021F;
  border-bottom: 2px solid transparent;
}
a:hover, a:focus, a:active {
  outline: none;
  text-decoration: none;
  color: #2e2e2e;
  border-bottom: 2px solid #5F021F;
}

input {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h1 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 23px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
h3 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
p {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
blockquote {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
pre {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}
/* Heading */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0 0 20px 0;
  padding: 0;
}

h1, .h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 30px;
  line-height: 42px;
}

h2, .h2 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 26px;
  line-height: 38px;
}

h3, .h3 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  line-height: 32px;
}

h4, .h4 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  line-height: 28px;
}

h5, .h5 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

h6, .h6 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12px;
  line-height: 24px;
}

ul, ol {
  padding-left: 15px;
  line-height: 26px;
}
ul ul, ul ol, ol ul, ol ol {
  padding-left: 25px;
}

p {
  margin: 0 0 20px 0;
}

.bold {
  font-weight: bold!important;
  color: #5F021F !important;
}

span.line {
  display: inline-block;
}

.font-family-calibri {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.sans-serif {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.lead-wrap {
  padding-top: 2em;
  padding-bottom: 5em;
}
@media screen and (max-width: 768px) {
  .lead-wrap {
    padding-top: 2em;
    padding-bottom: 3em;
  }
}

.lead {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px;
  line-height: 52px;
}
@media screen and (max-width: 768px) {
  .lead {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 30px;
    line-height: 42px;
  }
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    display: block;
    clear: both;
    width: 100%;
    float: left;
  }
}
/* Header */
#header-section {
  width: 100%;
  padding: 40px 0 30px 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  float: left;
  top: 0;
  left: 0 !important;
  right: 0;
  z-index: 103;
}
#header-section.scrolled {
  padding: 0px 0;
  background: rgba(0, 0, 0, 0.8);
  background: white;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
#header-section.scrolled #logo a {
  color: #2e2e2e;
}
#header-section.scrolled #logo a:hover {
  color: #7b7b7b;
}
#header-section.scrolled #menu-wrap .sf-menu a {
  color: #2e2e2e;
  border-bottom: none !important;
}
#header-section.scrolled #menu-wrap .sf-menu a:hover {
  color: #5F021F !important;
}
#header-section.scrolled #menu-wrap .sf-menu li.active > a {
  color: #5F021F !important;
}
#header-section.scrolled #menu-wrap > .sf-menu > li > a {
  padding-top: 2em;
  padding-bottom: 2em;
}

#logo {
  font-size: 20px;
  margin: 16px 0 0 0;
  padding: 0;
  font-weight: bold;
}
#logo a {
  border-bottom: none !important;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  #logo {
    text-align: center;
    margin: 0px 0 0 0;
    float: none !important;
  }
}

/* Superfish Override Menu */
.sf-menu {
  margin: 0 !important;
}

.sf-menu {
  float: right;
}

.sf-menu ul {
  box-shadow: none;
  border: transparent;
  min-width: 8em;
  *width: 8em;
}

.sf-menu a {
  color: rgba(255, 255, 255, 0.4);
  padding: .75em 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-left: none;
  border-top: none;
  border-top: none;
  text-decoration: none;
  zoom: 1;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 13px;
  border-bottom: none !important;
}

.sf-menu li,
.sf-menu ul li,
.sf-menu ul ul li,
.sf-menu li:hover,
.sf-menu li.sfHover {
  background: transparent;
}

.sf-menu ul li a,
.sf-menu ul ul li a {
  text-transform: none;
  padding: .75em 1em;
  letter-spacing: 1px;
}

@media screen and (min-width: 1200px ) {
  a.bigger-font {
    font-size: 1.1vw!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
  }
}
.container{
  width: 94%;
}

/*.logo-container{
  position: absolute;
  top:15%;
}*/

.sf-menu li:hover a,
.sf-menu li.sfHover a,
.sf-menu ul li:hover a,
.sf-menu ul li.sfHover a,
.sf-menu li.active a {
  color: #ffffff;
}

.sf-menu ul li:hover,
.sf-menu ul li.sfHover {
  background: transparent;
}

.sf-menu ul li {
  background: transparent;
}

.sf-arrows .sf-with-ul {
  padding-right: 2.5em;
  *padding-right: 1em;
}

.sf-arrows .sf-with-ul:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  margin-top: -3px;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-top-color: #ccc;
}

.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
  border-top-color: #ccc;
}

.sf-arrows ul .sf-with-ul:after {
  margin-top: -5px;
  margin-right: -3px;
  border-color: transparent;
  border-left-color: #ccc;
}

.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
  border-left-color: #ccc;
}

#menu-wrap .sf-menu a {
  padding: 2em 2em 2em 2em;
}

#primary-menu > li > ul li.active > a {
  color: #5F021F !important;
}
#primary-menu > li > .sf-with-ul:after {
  border: none !important;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 5px;
  top: 50%;
  margin-top: -7px;
  content: "\e64b";
  color: rgba(0, 0, 0, 0.5);
}
#primary-menu > li > ul li > .sf-with-ul:after {
  border: none !important;
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  float: right;
  margin-right: 10px;
  top: 13px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 12px;
  content: "\e649";
  color: rgba(255, 255, 255, 0.3);
}

#primary-menu .sub-menu {
  padding: 7px 0 3px;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

#primary-menu .sub-menu:before {
  position: absolute;
  top: -9px;
  right: 20px;
  width: 0;
  height: 0;
  content: '';
}

#primary-menu .sub-menu:after {
  position: absolute;
  top: -8px;
  right: 21px;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #5F021F;
  border-bottom: 8px solid rgba(0, 0, 0, 0.8);
  border-left: 8px solid transparent;
  content: '';
}

#primary-menu .sub-menu .sub-menu:before {
  top: 6px;
  right: 100%;
}

#primary-menu .sub-menu .sub-menu:after {
  top: 7px;
  right: 100%;
  border: none !important;
}

.site-header.has-image #primary-menu .sub-menu {
  border-color: #ebebeb;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.19);
}
.site-header.has-image #primary-menu .sub-menu:before {
  display: none;
}

#primary-menu .sub-menu a {
  letter-spacing: 0;
  padding: 0 15px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff !important;
  text-transform: none;
  background: none;
}
#primary-menu .sub-menu a:hover {
  color: #5F021F !important;
}

/* Mobile Menu */
#mobile-menu-btn {
  padding: 0 10px;
  z-index: 1001;
  position: absolute;
  top: 0;
  left: 0;
  background: #5F021F;
  height: 44px;
  display: table;
}
#mobile-menu-btn i {
  line-height: 25px;
  display: table-cell;
  vertical-align: middle;
  font-size: 22px;
  color: #fff;
}

#mobile-menu {
  -moz-transform: translateX(-275px);
  -webkit-transform: translateX(-275px);
  -ms-transform: translateX(-275px);
  transform: translateX(-275px);
  display: block;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 275px;
  z-index: 10002;
  background: #181920;
  padding: 0.75em 1.25em;
}
#mobile-menu #mobile-menu-ul {
  padding: 0;
  margin: 0;
}
#mobile-menu #mobile-menu-ul li {
  list-style: none;
}
#mobile-menu #mobile-menu-ul li.active > a {
  color: #ffffff;
}
#mobile-menu #mobile-menu-ul a {
  border-bottom: none !important;
  padding: 7px 0;
  display: block;
  color: #ccc;
  color: rgba(255, 255, 255, 0.5);
}
#mobile-menu #mobile-menu-ul a:hover {
  color: #ffffff;
  color: white;
}
#mobile-menu #mobile-menu-ul .sub-ddown {
  position: relative;
}
#mobile-menu #mobile-menu-ul .sub-ddown:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  right: 0;
  margin-top: 2px;
  content: "\e64b";
}
#mobile-menu #mobile-menu-ul .sub-menu {
  display: none;
  padding-left: 20px;
}
#mobile-menu #mobile-menu-ul .sub-menu li {
  list-style: none;
}

#logo-mobile-wrap {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  height: 44px;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10001;
  background: white;
  color: #2e2e2e;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
}
#logo-mobile-wrap h1 {
  padding: 0;
  margin: 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
#logo-mobile-wrap h1 a {
  border-bottom: none !important;
  color: #2e2e2e;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#feature {
  background: #f6f9fa;
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  #feature {
    padding: 3em 0 2em 0;
  }
}

#hero {
  background-color: #2e2e2e;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  #hero {
    background-position: center center;
  }
}
#hero .hero-wrap {
  display: table;
  height: 600px;
  width: 100%;
}
#hero .hero-wrap .hero-intro {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#hero .hero-wrap .hero-intro > h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px;
  font-weight: normal;
  line-height: 62px;
  text-transform: uppercase;
  letter-spacing: 7px;
}
@media screen and (max-width: 768px) {
  #hero .hero-wrap .hero-intro > h1 {
    letter-spacing: 4px;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 30px;
    line-height: 42px;
  }
}
#hero .hero-wrap .hero-intro > h2 {
  letter-spacing: 4px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
  color: #fff;
}
@media screen and (max-width: 768px) {
  #hero .hero-wrap .hero-intro > h2 {
    letter-spacing: 3px;
  }
}
#hero .hero-wrap .hero-intro > h2 > span {
  position: absolute;
  bottom: 0;
  display: block;
  background: rgba(255, 255, 255, 0.4);
  width: 50px;
  height: 3px;
  left: 50%;
  margin-left: -25px;
}
#hero .hero-wrap .btn {
  color: #ffffff;
}
#hero .hero-wrap .btn:hover, #hero .hero-wrap .btn:active, #hero .hero-wrap .btn:focus {
  background: #5F021F;
  border-color: #5F021F;
}

body.inner-page #hero {
  height: 400px;
}
body.inner-page #hero .hero-wrap {
  padding-top: 50px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  #hero, .hero-wrap {
    position: relative;
    padding: 4em 0 3em 0;
    height: inherit !important;
  }
}

#main {
  margin-top: 600px;
  padding-top: 50px;
  z-index: 102;
  position: relative;
  background: #ffffff;
}
@media screen and (max-width: 768px) {
  #main {
    margin-top: 0px;
    padding-top: 20px;
  }
}

body.inner-page #main {
  margin-top: 400px;
}
@media screen and (max-width: 768px) {
  body.inner-page #main {
    margin-top: 0px;
    padding-top: 20px;
  }
}

#hero,
#main,
#logo-mobile-wrap {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}

body.mobile-menu-visible #hero,
body.mobile-menu-visible #main,
body.mobile-menu-visible #logo-mobile-wrap {
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  transform: translateX(275px);
}

body.mobile-menu-visible #mobile-menu {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

/* Helper Classes */
/* Spacer */
.spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
}

.spacer-xlg {
  height: 150px;
}
@media screen and (max-width: 768px) {
  .spacer-xlg {
    height: 70px;
  }
}

.spacer-lg {
  height: 100px;
}
@media screen and (max-width: 768px) {
  .spacer-lg {
    height: 50px;
  }
}

.spacer-md {
  height: 80px;
}
@media screen and (max-width: 768px) {
  .spacer-md {
    height: 30px;
  }
}

.spacer-sm {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .spacer-sm {
    height: 20px;
  }
}

.spacer-xs {
  height: 30px;
}
@media screen and (max-width: 768px) {
  .spacer-xs {
    height: 20px;
  }
}

.spacer-xxs {
  height: 20px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.uppercase-heading-sm {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #7b7b7b;
}

.form-group {
  margin-bottom: 30px;
}

.image-popup:hover {
  opacity: .7;
}

img.resize{
   max-width:65%;
   max-height:65%;
}

/*
========================================

Components

========================================
*/
/* Buttons */
.btn {
  border-bottom: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 10px;
}
.btn:hover, .btn:focus, .btn:active {
  box-shadow: none;
  outline: none !important;
  border-color: transparent;
}

.textShadow{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.btn-outline {
  border: 2px solid #eaeaea !important;
  background: transparent;
  color: #2a2e37;
}
.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  border: 2px solid #282e3c !important;
  background: #282e3c;
  color: #ffffff;
}

.btn-primary {
  background: #5F021F;
}

.btn-success {
  background: #00e195;
}

.btn-danger {
  background: #e02745;
}

.btn-info {
  background: #0bbff2;
}

.btn-warning {
  background: #ffd042;
}

.btn-primary,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  border-color: transparent;
}

.btn-default:hover, .btn-default:active, .btn-default:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-success:hover,
.btn-success:active,
.btn-success:focus,
.btn-info:hover,
.btn-info:active,
.btn-info:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background: #282e3c;
  color: #ffffff;
}

.form-control {
  box-shadow: none !important;
  border: 2px solid #ccc;
}
.form-control:hover, .form-control:focus, .form-control:active {
  outline: none;
  box-shadow: none !important;
}

/* Features*/
/* Feature 1 */
.feature-1 .feature-figure {
  margin-top: 5em;
}
@media screen and (max-width: 768px) {
  .feature-1 .feature-figure {
    text-align: center !important;
    margin-top: 0em;
  }
}
@media screen and (max-width: 768px) {
  .feature-1 .feature-figure img {
    display: inline-block;
    margin: 0 auto;
  }
}
.feature-1 .feature-blurb ul {
  padding: 0;
  margin: 5em 0 0 0;
}
@media screen and (max-width: 480px) {
  .feature-1 .feature-blurb ul {
    margin: 2em 0 0 0;
  }
}
.feature-1 .feature-blurb ul li {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0 0 1em 0;
  list-style: none;
}
.feature-1 .feature-blurb ul li > .feature-blurb-text {
  float: right;
  width: 85%;
}
@media screen and (max-width: 992px) {
  .feature-1 .feature-blurb ul li > .feature-blurb-text {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  .feature-1 .feature-blurb ul li > .feature-blurb-text {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  .feature-1 .feature-blurb ul li > .feature-blurb-text {
    width: 80%;
  }
}
.feature-1 .feature-blurb ul li .feature-blurb-icon {
  float: left;
  width: 15%;
}
.feature-1 .feature-blurb ul li .feature-blurb-icon i {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 40px;
  color: #5F021F;
}
@media screen and (max-width: 992px) {
  .feature-1 .feature-blurb ul li .feature-blurb-icon {
    width: 20%;
  }
}
@media screen and (max-width: 768px) {
  .feature-1 .feature-blurb ul li .feature-blurb-icon {
    width: 10%;
  }
}
@media screen and (max-width: 480px) {
  .feature-1 .feature-blurb ul li .feature-blurb-icon {
    width: 20%;
  }
}
.feature-1 .feature-blurb ul li .feature-blurb-title {
  letter-spacing: 2px;
  margin-bottom: 0 !important;
}

/* Feature 2*/
.feature-2 .feature-item {
  margin-bottom: 30px;
}
.feature-2 .feature-title {
  letter-spacing: 2px;
}
.feature-2 .feature-icon {
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.feature-2 .feature-icon i {
  font-size: 50px;
  color: #5F021F;
}

/* Feature 3 */
.feature-3 .feature-item {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .feature-3 .feature-item {
    display: block;
  }
}
.feature-3 .feature-icon {
  float: left;
  width: 15%;
  clear: right;
}
@media screen and (max-width: 480px) {
  .feature-3 .feature-icon {
    width: 20%;
  }
}
.feature-3 .feature-icon i {
  font-size: 30px;
  color: #5F021F;
}
.feature-3 .feature-blurb {
  float: right;
  width: 85%;
}
@media screen and (max-width: 480px) {
  .feature-3 .feature-blurb {
    width: 80%;
  }
}

/* Header */
.header {
  text-align: center;
}
.header .heading {
  font-weight: bold;
  font-size: 45px;
  line-height: 57px;
}
@media screen and (max-width: 768px) {
  .header .heading {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 30px !important;
    line-height: 42px !important;
  }
}
.header .heading-sub {
  color: #777;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
  line-height: 30px;
}

/* Easy Rsponsive Tabs */
.tab {
  clear: both;
  display: block;
}

.resp-tab-active {
  color: #5F021F;
}

.resp-content-active, .resp-accordion-active {
  display: block;
}

.tab-menu-icon {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 20px;
  position: relative;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 768px) {
  .tab-menu-icon {
    margin-top: 7px;
  }
}

#feature-slider .item-slide-text {
  margin-top: 1em;
}
#feature-slider .item-slide-text > h2 {
  position: relative;
  padding-bottom: 20px;
}
#feature-slider .item-slide-text > h2 span {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 3px;
  background: #ccc;
  background: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 992px) {
  #feature-slider .item-slide-text {
    margin-top: 0em;
  }
}
@media screen and (max-width: 768px) {
  #feature-slider .item-slide-text {
    margin-top: 0em;
  }
}
@media screen and (max-width: 480px) {
  #feature-slider .item-slide-text {
    margin-top: 0em;
  }
}

#testimonial {
  padding: 10em 0;
  background: #000 url(../img/consultorio4.jpg) no-repeat center top;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #testimonial {
    padding: 3em 0;
  }
}

#testimonial2 {
  padding: 10em 0;
  background: #000 url(../img/consultorio1.jpg) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 768px) {
  #testimonial2 {
    padding: 3em 0;
  }
}

#testimonial blockquote {
  padding-left: 0;
  width: 70%;
  margin: 0 auto;
  color: #ffffff;
  border-left: none;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 45px;
  line-height: 57px;
}
@media screen and (max-width: 768px) {
  #testimonial blockquote {
    width: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 35px;
    line-height: 47px;
  }
}
#testimonial blockquote p {
  text-align: center;
  color: #ffffff;
}
#testimonial .testimonial-author {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 18px;
}
#testimonial .uppercase-heading-sm {
  color: #ffffff;
}

#footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 3em 0;
}
@media screen and (max-width: 768px) {
  #footer {
    padding: 2em 0;
  }
}

/* Accordions */
.accordion .panel-title > a:hover {
  border-bottom: none !important;
}
.accordion .panel-heading {
  background: transparent;
  position: relative;
  cursor: pointer;
}
.accordion .panel-heading .accordion-toggle {
  color: #5F021F;
}
.accordion .panel-heading .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e622";
  right: 15px;
  top: 16px;
}
.accordion .panel-heading.collapsed .accordion-toggle {
  color: #2e2e2e !important;
}
.accordion .panel-heading.collapsed .accordion-toggle:after {
  font-family: 'themify';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2e2e2e !important;
  position: absolute;
  content: "\e61a";
  right: 15px;
  top: 16px;
}

/* Progress Bars */
.progress {
  height: 15px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.progress-bar {
  box-shadow: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}
.progress-bar.progress-bar-default {
  background: #5F021F;
}
.progress-bar.progress-bar-success {
  background: #00e195;
}
.progress-bar.progress-bar-info {
  background: #0bbff2;
}
.progress-bar.progress-bar-warning {
  background: #ffd042;
}
.progress-bar.progress-bar-danger {
  background: #e02745;
}

/* Social Icons */
.social-icons {
  text-align: center;
  padding: 0;
  margin: 0 0 2em 0;
}
.social-icons li {
  list-style: none;
  display: inline;
  display: inline-block;
}
.social-icons li a {
  padding: 0 10px;
  border-bottom: none !important;
}
.social-icons li i {
  font-size: 30px;
}

/* Owl Override Style */
.owl-carousel .owl-controls,
.owl-carousel-posts .owl-controls {
  margin-top: 0;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -40px;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-controls .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-controls .owl-nav .owl-next i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev i {
  color: #2e2e2e;
}
.owl-carousel-posts .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-controls .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-controls .owl-nav .owl-prev:hover i {
  color: #000000;
}

.owl-carousel-fullwidth.light-arrow .owl-controls .owl-nav .owl-next i,
.owl-carousel-fullwidth.light-arrow .owl-controls .owl-nav .owl-prev i {
  color: #ffffff;
}
.owl-carousel-fullwidth.light-arrow .owl-controls .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.light-arrow .owl-controls .owl-nav .owl-prev:hover i {
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-controls .owl-nav {
    display: none;
  }
}

.owl-theme .owl-controls .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-controls .owl-nav [class*="owl-"]:hover, .owl-theme .owl-controls .owl-nav [class*="owl-"]:focus {
  background: none !important;
}

.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.owl-carousel-fullwidth.owl-theme .owl-dots {
  bottom: 0;
  margin-bottom: -2.5em;
}

.owl-theme .owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  background: #5F021F;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border: 2px solid transparent;
}
.owl-theme .owl-dots .owl-dot span:hover {
  background: none;
  border: 2px solid #5F021F;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: none;
  border: 2px solid #5F021F;
}

/* Image Alignment */
img.align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  img.align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  img.align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a > img.align-right {
  float: right;
  margin: 0 0 .5em 1em;
}
@media screen and (max-width: 480px) {
  a > img.align-right {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.align-left {
  float: left;
  margin: 0 1em .5em 0;
}
@media screen and (max-width: 480px) {
  a > img.align-left {
    width: 100%;
    margin: 0 0 .5em 0;
  }
}
a > img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*# sourceMappingURL=style.css.map */
